.contact {
    display: flex;
    direction: row;
    justify-content: space-around;
    margin: 24px auto 24px auto;
    max-width: 1048px;
}

.contact-form {
    display: flex;
    direction: column;
    margin-bottom: 16px;
}

.contact-label {
    /* padding-right: 24px; */
    text-align: start;
}

.contact-input {
    background-color: #d3d3d3;
    border-radius: 4px;
    &&:focus {
        background-color: #d3d3d3;
        border-color: #9370dc;
    }
}

.contact-toast {
    position: absolute;
    border-color: blueviolet;
}

.contact-toast-header {
    background-color: #9370dc;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.contact-toast-body {
    color: blueviolet;
}

.contact-button {
    background-color: blueviolet;
    border-color: #9370dc;
    &&:hover {
        background-color: #9370dc;
        border-color: blueviolet;
    }
}

.contact-error {
    padding-bottom: 16px;
    color: blueviolet;
    font-weight: bold;   
}

.contact-image {
    &:hover {
        border: 1px solid blueviolet;
    }
}

.contact-image-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}