.about-margin {
    display: flex;
    direction: row;
    max-width: 1048px;
    margin: auto;
}

.about-links {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.about-link {
    font-size: 24px;
    color: blueviolet;
    text-decoration: none;
    padding: 8px;
    &:hover {
        color: #9370dc;
    }
    &::after {
        color: #9370dc;
    }
}

.about-img-area {
    display: flex;
    justify-content: center;
    /* margin-top: 32px; */
    align-items: center;
}

.about-wrapper {
    position: relative;
    margin-right: 32px;
}

.about-wrapper img {
    /* margin-right: 32px; */
    position: absolute;
    /* opacity: 0; */
    transition: images 10s ease-in-out;
    /* animation: images 10s ease-in-out; */
    /* display: flex; */
    
}

.about-wrapper img:first-child {
    opacity: 0;
    animation-delay: 5s;
    /* animation-delay: 5s; */
    /* position: static; */
}

.about-wrapper img:last-child {
    opacity: 1;
}

.about-image {
    border-radius: 4px;
    border: 1px solid #939393;
    height: 200px;
    width: 111px;
    /* animation: about-animation 10s infinite; */
    /* animation-duration: 10s; */
    /* animation-iteration-count: infinite; */
}

@keyframes images {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

/* .about-image {
    height: 200px;
    width: 100%;
    border: 1px solid #939393;
    border-radius: 4px;
    align-self: center;
    position: static;
    right: 24px;
    animation-name: about-animation;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
} */

